.dropdown {
    position: relative;
    width: 139px;
    margin: 0 auto;
    user-select: none; 
    color: black;
    -webkit-user-select:none;
    /* определяет, может ли пользователь выбирать текст. Это не оказывает никакого влияния на контент, загружаемый как часть пользовательского интерфейса браузера (его chrome ), за исключением текстовых полей.user-select */
}

.dropdown-btn {
    padding-left: 10px;
}

.dropdown-content {
    position: absolute;
    top: -3px;
    background: var(--bg-fons);
    box-shadow: 0px 1px 4px 3px rgb(147 131 147 / 20%);
}

.dropdown-item {
    padding: 10px;
    border-bottom: 1px solid var(--color-gray-border);
}

.dropdown-item:hover {
    background: var(--bg-color-light-gray-cart);
    transition: all 0.2s;
}


