.train__information_box {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
  padding-left: 19px;
  padding-right: 19px;
}

.train__information {
  display: flex;
}

.train__information_icon {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-right: 29px;
  margin-top: 28px;
}

.train__direction_number {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-darck-gray);
}

.train__direction_points {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray);
}

.train__direction_depature {
  color: var(--bg-and-color-dark);
}

.train__direction_point-arrival {
  color: var(--color-black);
}

.train__direction__there {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-left: 60px;
}

.train__direction__img {
  width: 30px;
  height: 20px;
  margin: auto;
  margin-right: 53px;
}

.train__direction__time {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-black);
}

.train__direction__city {
  color: var(--bg-and-color-dark);
}

.train__direction__station {
  color: var(--color-gray);
}

.seat__duration {
  display: flex;
  margin: auto;
  margin-right: 65px;
}

.seat__duration_img {
  width: 30px;
  height: 30px;
}

.train__direction__start {
  margin-right: 41px;
}

.seat__duration__time {
  margin-left: 7px;
}

.number__tickets {
  margin-top: 59px;
  border-bottom: 1px solid var(--color-gray-border);
  padding-bottom: 51px;
}

.number__tickets__title {
  padding-left: 19px;
  font-size: 30px;
  font-weight: 700;
  color: var(--bg-and-color-dark);
}

.number__tickets__menu {
  display: flex;
  margin-top: 20px;
}

.number__tickets__type_box {
  display: flex;
  width: 241px;
  height: 51px;
  margin-left: 16px;
  margin-bottom: 23px;
  padding-top: 17px;
  padding-left: 18px;
  border: 1px solid var(--color-gray);
  border-radius: 6px;
  background: var(--bg-and-color-white);
}

.number__tickets__input {
  width: 114px;
  margin-top: -12px;
  margin-left: 13px;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number__tickets__adult__input__label {
  width: 166px;
  margin-left: 17px;
}

.number__tickets__type {
  height: 192px;
  padding-top: 20px;
  padding-left: 19px;
}

.number__tickets__type:hover {
  border: 1px solid var(--bg-color-orange);
}

.number__tickets__type_adult {
  width: 316px;
  background: var(--bg-color-ligth-grey-type-tickets);
  border: 1px solid var(--bg-color-ligth-grey-type-tickets);
  box-shadow: -1px 4px 4px rgba(19, 19, 19, 0.2);
}

.number__tickets__type_child {
  width: 318px;
  padding-left: 31px;
  border: 1px solid var(--bg-and-color-white);
}

.number__tickets__type_child-no-seats {
  width: 324px;
  border: 1px solid var(--bg-and-color-white);
}

.number__tickets__child__input__label {
  width: 249px;
  padding-left: 17px;
}

.input__child__no-seats {
  width: 38px;
}

.type__vagon__title {
  margin-top: 27px;
  margin-bottom: 30px;
  padding-left: 19px;
  font-weight: 700;
  font-size: 30px;
  color: var(--bg-and-color-dark);
}

.type__vagon__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.type__vagon__btn {
  display: flex;
  flex-direction: column;
  margin-left: -38px;
  margin-bottom: 23px;
  border: none;
  background: none;
}

.type__vagon__text {
  margin-top: 21px;
  margin-left: -1px;
  font-size: 24px;
  color: var(--color-gray);
}

.type__vagon__btn_active {
  display: flex;
  flex-direction: column;
  margin-left: -38px;
  margin-bottom: 23px;
  background: none;
  border: none;
}

.type__vagon__btn_active .type__vagon__text {
  color: var(--bg-color-orange);
}

.type__vagon__btn_active svg path {
  fill: var(--bg-color-orange);
}

@media (min-width: 1280px) and (max-width: 1480px) {
  .train__direction__time,
  .train__direction_number,
  .type__vagon__text {
    font-size: 18px;
  }

  .seat__duration {
    margin-right: 10px;
  }

  .number__tickets__title {
    padding-left: 19px;
    font-size: 24px;
  }

  .type__vagon__title {
    font-size: 24px;
  }

  .number__tickets__type {
    padding-left: 0px;
  }

  .number__tickets__type_box {
    width: 225px;
    height: 48px;
  }

  .number__tickets__input {
    width: 20px;
  }

  .number__tickets__adult__input__label,
  .number__tickets__child__input__label {
    font-size: 14px;
  }
}
