.cart__item {
  display: flex;
  min-height: 268px;
  margin-bottom: 47px;
  border: 1px solid var(--color-gray-border);
  color: var(--color-black);
}

.cart__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 232px;
  padding: 0px 24px 0px;
  background-color: var(--bg-color-light-gray-cart);
}

.train__icon {
  width: 86px;
  height: 86px;
  margin: auto 0;
  margin-bottom: 14px;
  margin-top: 0px;
}

.train__name {
  margin-left: 27px;
  font-size: 23px;
  font-weight: 700;
}

.path__name {
  padding: 0;
  margin: 0;
}

.train__info_box {
  display: flex;
  width: 100%;
}

.train__info {
  width: 481px;
  display: flex;
  flex-direction: column;
  padding: 54px 40px 36px;
  font-size: 18px;
}

.train__schedule__there {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.train__departure {
  margin-bottom: 57px;
}

.departure__time,
.arrival__time {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 700;
}

.arrival__city,
.departure__city {
  margin-top: -6px;
  color: var(--bg-and-color-dark);
}

.departure__station,
.arrival__station {
  color: var(--color-gray);
}

.travel__info {
  margin-left: -37px;
}

.train__schedule__back {
  display: flex;
}

.train__arrival {
  margin-top: 3px;
  margin-right: 9px;
}

.travel__time {
  color: var(--color-gray-border);
}

.list__place__box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 22px;
  border-left: 1px solid var(--color-light-gray);
}

.list__place__info {
  margin-bottom: -14px;
}

.item__services {
  margin-top: 15px;
  margin-right: 13px;
  text-align: end;
}

.btn__choose {
  margin: 16px 16px 0 30px;
  padding: 6px 29px 6px 32px;
  font-size: 22px;
  font-weight: 600;
  color: var(--bg-and-color-white);
  background: var(--bg-color-orange);
  border-radius: 6px;
  border: 1px solid var(--bg-color-orange);
}

.btn__choose:hover {
  box-shadow: 2px 5px 7px rgb(24, 20, 18, 0.2);
}

.btn__choose:active {
  background: var(--bg-and-color-white);
  color: var(--bg-color-orange);
  border: 1px solid var(--bg-color-orange);
}

@media (min-width: 1280px) and (max-width: 1480px) {
  .train__name {
    font-size: 16px;
  }

  .path__name {
    font-size: 14px;
  }

  .train__icon {
    width: 76px;
    height: 76px;
  }

  .cart__info {
    width: 148px;
    padding: 0 15px 0;
  }

  .departure__time,
  .arrival__time,
  .travel__time,
  .price__number,
  .price__type__currency {
    font-size: 18px;
  }

  .departure__station,
  .departure__city,
  .arrival__city,
  .arrival__station {
    font-size: 16px;
  }

  .train__info {
    width: 356px;
    padding: 31px 12px 36px;
  }

  .travel__info {
    margin-left: -6px;
  }

  .list__place__box {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .btn__choose {
    font-weight: 400;
  }
}
