.passengers__details__box .passengers__forms__box {
  width: 960px;
}

.accordion__passengers__forms {
  background: var(--bg-fons);
  border: 1px solid var(--color-gray-border);
}

.accordion__passengers__header .accordion-button:not(.collapsed) {
  background: var(--bg-fons);
  color: var(--color-gray);
}

.accordion__passengers__header button {
  background: var(--bg-fons);
}

.accordion__passengers__forms__body {
  background: var(--bg-and-color-white);
  color: var(--color-gray);
}

.accordion__passengers__header .accordion-button::before {
  width: 35px;
  height: 34px;
  content: '';
  margin-right: 16px;
  background: url(../../../img/circlePlus.svg) no-repeat;
}

.accordion__passengers__header .accordion-button::after {
  content: none;
}

.accordion__passengers__header__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn__close {
  width: 32px;
  height: 32px;
  font-size: 24px;
  font-weight: 700;
}

.accordion__passengers__header .accordion-button:not(.collapsed)::before {
  width: 35px;
  height: 32px;
  content: '';
  margin-right: 16px;
  background: url(../../../img/circleMinus.svg) no-repeat;
}

.accordion__passengers__header__title {
  color: var(--bg-and-color-dark);
  font-size: 30px;
}

.accordion__passengers__header .accordion-button {
  padding: 42px 34px 29px 30px;
}

.accordion__passengers__forms__item .accordion-collapse {
  border-top: 1px dotted var(--color-gray);
}

.accordion__passengers__item {
  font-size: 24px;
  color: var(--bg-and-color-dark);
}

.accordion__passengers__forms__body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.accordion__passengers__forms__body .dropdown {
  width: 279px;
  position: relative;
  left: -304px;
  top: 22px;
  margin: 0 auto;
  user-select: none;
  cursor: pointer;
}

.accordion__passengers__forms__body .dropdown .dropdown-btn {
  width: 100%;
  margin-bottom: 64px;
  padding: 12px 0px 10px 13px;
  font-size: 24px;
  border: 1px solid var(--color-gray);
  border-radius: 6px;
}

.accordion__passengers__forms__body .dropdown .dropdown-btn__adult::after,
.dropdown-btn__birth-certificate:after,
.dropdown-btn__passport:after {
  position: absolute;
  right: 16px;
  top: 20px;
  content: '';
  border-top: 8px solid var(--color-gray);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 0;
}

.accordion__passengers__forms__body .dropdown .dropdown-content {
  width: 100%;
  position: absolute;
  background: var(--bg-color-ligth-grey-type-tickets);
  font-size: 24px;
  border-radius: 6px;
}

.accordion__passengers__forms__body .dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.accordion__passengers__forms__body
  .dropdown
  .dropdown-content
  .dropdown-item:last-child {
  border: none;
}

.accordion__passengers__forms__body
  .dropdown
  .dropdown-content
  .dropdown-item:hover {
  background: var(--bg-color-light-orange);
}

.initials__box {
  display: flex;
  justify-content: space-between;
  padding: 0px 34px;
}

.initials__input {
  width: 279px;
  height: 50px;
  margin-top: 14px;
  padding: 12px 15px;
  font-size: 24px;
  color: var(--bg-and-color-dark);
  border: 1px solid var(--color-gray);
  border-radius: 6px;
}

.initials__text {
  margin-left: 16px;
}

.passengers__detailed__info {
  position: relative;
  display: flex;
  margin-top: 49px;
  padding: 0px 35px;
}

.gender__type__title {
  margin-bottom: 16px;
}

.gender__btn {
  width: 104px;
  height: 50px;
  font-size: 30px;
  font-weight: 900;
}

.male {
  border-radius: 5px 0 0 5px;
}

.female {
  border-radius: 0 5px 5px 0;
}

.gender__type {
  margin-right: 33px;
}

.gender__btn.active {
  background: var(--bg-color-orange);
}

.date__birth__title {
  margin-bottom: 17px;
  font-size: 16px;
}

.date__birth {
  width: 239px;
  height: 50px;
  font-size: 18px;
  border-radius: 6px;
  padding-left: 19px;
}

.passengers__detailed__info .react-calendar {
  position: absolute;
  top: 31px;
  left: 260px;
  z-index: 1;
}

.detailed__info__mobility {
  display: flex;
  margin-top: 45px;
  margin-left: 16px;
  margin-bottom: 37px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.checkbox__lable {
  padding-left: 69px;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.checkbox__lable::before {
  content: '';
  width: 28px;
  height: 28px;
  border: 1px solid var(--color-gray);
  border-radius: 6px;
  background-color: var(--bg-and-color-white);
  position: absolute;
  top: 0;
  left: 19px;
  z-index: 1;
}

.checkbox__lable::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 1px;
  left: 21px;
  z-index: 2;
  background: url(../../../img/check_mark.svg) no-repeat;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.checkbox__input:checked + .checkbox__lable::after {
  opacity: 1;
}

.accordion__passengers__forms__body .passengers__document__info {
  height: 153px;
  display: flex;
  padding-top: 37px;
  padding-left: 33px;
  padding-right: 33px;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}

.document_type {
  width: 206px;
  height: 50px;
  margin-top: 14px;
  margin-right: 35px;
  padding-left: 11px;
  font-size: 18px;
  border-radius: 6px;
}

.document__option {
  padding: 10px;
  height: 50px;
}

.passengers__document__item .dropdown {
  left: 0px;
  top: 13px;
  font-size: 18px;
}

.passengers__document__item .dropdown .dropdown-btn__passport {
  font-size: 18px;
  width: 205px;
  height: 50px;
}

.accordion__passengers__forms__body .dropdown .dropdown-btn__passport::after {
  right: 83px;
}

.passengers__document__item .dropdown .dropdown-content {
  width: 323px;
  top: 53px;
}

.passengers__document__item {
  display: flex;
}

.passengers__document__input {
  width: 203px;
  margin-top: 14px;
  height: 50px;
  border-radius: 6px;
  padding: 10px;
  letter-spacing: 16px;
  font-size: 24px;
}

.passengers__document__series {
  width: 203px;
  margin-left: -37px;
  margin-right: 32px;
  font-size: 24px;
  letter-spacing: 20px;
}

.passengers__document__title {
  cursor: pointer;
}

.passengers__document__passport .passengers__document__title__series {
  margin-left: -38px;
}

.next__passenger__control {
  display: flex;
  padding-right: 31px;
  padding-top: 49px;
  padding-bottom: 49px;
  text-align: right;
}

.next__passenger__control.passed {
  background: var(--bg-color-light_green);
}

.next__passenger__btn {
  margin-right: 0;
  margin-left: auto;
  padding: 12px 23px 13px 14px;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-black);
  background: var(--bg-and-color-white);
  border: 1px solid var(--color-black);
  border-radius: 6px;
  cursor: pointer;
}

.next__passenger__btn:hover {
  color: var(--bg-color-orange);
}

.next__passenger__btn:active {
  color: var(--color-black);
  background: var(--bg-color-orange);
  border: var(--bg-color-orange);
}

.dropdown-btn__birth-certificate {
  width: 444px !important;
}
.dropdown-btn__birth-certificate:after {
  right: -150px;
}

.passengers__document__birth-certificate {
  margin-left: 226px;
  position: relative;
}

.passengers__document__number__child {
  width: 220px;
  font-size: 16px;
  letter-spacing: 6px;
}

.passengers__document__text {
  position: absolute;
  left: 10px;
  top: 40px;
}

.add_passengers__box {
  width: 960px;
  height: 97px;
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 103px;
  padding: 28px 26px 32px;
  color: var(--color-black);
  font-size: 30px;
  background: white;
  border: 1px solid var(--color-gray-border);
}

.add_passengers {
  font-size: 30px;
  color: var(--bg-color-orange);
  border: none;
  background: none;
}

.further-btn {
  margin-bottom: 140px;
  padding: 15px 69px 16px 74px;
  color: var(--bg-and-color-white);
  font-size: 24px;
  font-weight: 700;
  background: var(--bg-color-orange);
  border: 1px solid var(--bg-color-orange);
  text-transform: uppercase;
  border-radius: 6px;
  float: right;
}

.further-btn .not-active {
  background: var(--color-gray);
  border: 1px solid var(--color-gray);
}

.further-btn:hover {
  background: var(--bg-color-orange);
  border: 1px solid var(--bg-color-orange);
  box-shadow: 2px 3px 3px 1px rgba(94, 94, 94, 0.2);
}

.further-btn:active {
  color: var(--bg-color-orange);
  background: var(--bg-and-color-white);
  border: 1px solid var(--bg-color-orange);
}

.passengers__forms__item {
  margin-bottom: 44px;
}

.initials__lable .error,
.passengers__document__input.error {
  color: var(--bg-color-error);
  border: 1px solid var(--bg-color-error);
}

.next__passenger__control.error {
  background: var(--bg-color-error);
  padding-left: 24px;
  padding-top: 49px;
  padding-bottom: 49px;
  border-bottom: 0px;
}

.next__passenger__control.error .error__text {
  margin-top: 7px;
  padding-top: 6px;
  padding-bottom: 20px;
  font-size: 18px;
  text-align: left;
  color: var(--color-black);
}

.error__icon {
  position: relative;
  top: -24px;
  width: 32px;
  height: 32px;
  margin-right: 7px;
  color: var(--bg-color-error);
  font-weight: 700;
  background: var(--bg-and-color-white);
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 34px;
  opacity: 0;
}

.error__icon.active {
  opacity: 1;
}

.examination__btn {
  background: var(--bg-color-light_green);
}

.examination__text {
  color: var(--bg-and-color-white);
}

.examination__icon {
  width: 32px;
  height: 32px;
  margin-right: 7px;
  color: var(--bg-color-light_green);
  font-weight: 700;
  background: var(--bg-and-color-white);
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 34px;
}

.examination__box {
  display: flex;
  padding-left: 24px;
}

.examination__text {
  width: 480px;
  margin-top: 5px;
  font-size: 18px;
  text-align: left;
}

.passengers__document .error,
.dropdown .error {
  color: var(--bg-color-error);
}

.accordion__passengers__header__btn {
  width: 32px;
  height: 32px;
}

.date__birth.error {
  border: 1px solid var(--bg-color-error);
}

.further-btn.disabled {
  background: var(--color-gray);
  color: var(--bg-and-color-white);
  border: 1px solid var(--color-gray);
}

@media (min-width: 1280px) and (max-width: 1480px) {
  .accordion__passengers__header__title {
    font-size: 24px;
  }

  .initials__input {
    width: 224px;
    font-size: 18px;
  }

  .add_passengers__box {
    width: 772px;
    font-size: 26px;
  }

  .passengers__details__box .passengers__forms__box {
    width: 770px;
  }

  .accordion__passengers__forms__body .dropdown {
    width: 224px;
    left: -240px;
  }

  .gender__btn {
    width: 80px;
    font-size: 24px;
  }

  .date__birth {
    width: 224px;
  }

  .dropdown-btn__birth-certificate {
    width: 286px !important;
    margin-left: 241px;
  }

  .dropdown-btn__birth-certificate:after {
    right: -292px;
  }

  .accordion__passengers__forms__body .dropdown .dropdown-btn {
    font-size: 18px;
  }

  .passengers__document__birth-certificate {
    margin-left: 105px;
  }

  .passed .next__passenger__btn {
    margin-left: -93px;
    font-size: 22px;
  }

  .next__passenger__control.error {
    padding-bottom: 24px;
  }

  .passengers__document__item .dropdown .dropdown-content {
    left: 241px;
  }

  .passengers__document .dropdown .dropdown-btn {
    margin-left: 238px;
  }

  .passengers__document__item .dropdown .dropdown-btn__passport {
    width: 170px;
  }

  .accordion__passengers__forms__body .dropdown .dropdown-btn__passport::after {
    right: -172px;
  }

  .passengers__document .dropdown .dropdown-btn__birth-certificate {
    margin-left: 239px;
  }

  .further-btn {
    padding: 12px 51px 12px 51px;
    font-size: 24px;
  }
}
