.main__form_box .jumbotron__banner {
  height: 598px !important;
  background-image: url('../../../img/banner2.jpg');
}

.main__form {
  height: 531px;
}

.main__form_box {
  position: relative;
  top: -160px;
  height: 691px;
}

.main__form__info .form__order .direction .form__title {
  padding-left: 7px;
}

.main__form__info .form__order {
  width: 100%;
  height: 321px;
  margin-top: 111px !important;
  margin: auto;
  background: rgba(41, 41, 41, 0.8) !important;
}

.main__form__info .form__order .order__box {
  display: block;
  width: 1470px;
  margin: auto;
}
.main__form__info .form__order .order__box .jumbotron__order__wrapper {
  display: flex;
  justify-content: center;
}

.main__form__info .form__order .order__box .direction {
  margin-right: 44px;
  padding-left: 44px;
}

.main__form__infox .form__order .order__box .direction .form__title {
  padding-left: 0;
}

.main__form__info .form__order .order__box .date .form__date .form__date-box {
  margin-right: 41px;
}

.main__form__info .form__order .button-find {
  font-size: 24px;
  margin-right: 24px;
  margin-top: -10px;
}

.form__order_direction {
  margin-top: 0;
}

.form__order__date {
  margin-left: -12px;
}

.btn_reverse {
  margin-top: 0;
  margin: auto;
}

.registration__stage__box {
  display: flex;
  height: 100%;
}

.operation__name {
  display: flex;
  margin: auto;
  align-items: center;
  text-align: center;
  font-size: 36px;
  color: var(--bg-and-color-white);
  z-index: 2;
}

.stage {
  margin: auto;
}

.status__passengers {
  position: relative;
  left: -36px;
}

.stage_active {
  display: flex;
  width: 100%;
  background: orange;
}

.arrow {
  width: 72px;
  height: 72px;
  display: inline-block;
  margin: 13px 0 0 -37px;
  border-top: 3px solid var(--bg-and-color-white) !important;
  border-right: 3px solid var(--bg-and-color-white) !important;
  transform: rotate(45deg);
  transition: 1s;
  border-radius: 2px;
  z-index: 4;
}

.arrow_active {
  width: 73px;
  height: 73px;
  margin: 13px -39px -1px -36px;
  display: inline-block;
  border-top: 3px solid var(--bg-and-color-white) !important;
  border-right: 3px solid var(--bg-and-color-white) !important;
  transform: rotate(45deg);
  transition: 1s;
  background-color: orange;
  border-radius: 2px;
  z-index: 1;
}

.list__number {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-left: 136px;
  margin-right: 24px;
  align-items: center;
  border: 3px solid;
  border-radius: 32px;
}

.status {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
}

.registration__stage {
  width: 100%;
  height: 99px;
  background-color: var(--color-darck-gray);
  z-index: -1;
}

.status__payment {
  position: relative;
  left: -40px;
}

.status__check {
  margin-left: -40px;
}

.main__form__info .order__box .date {
  position: relative;
  z-index: 5;
}

.form__date .form__date-box_to.main__from .react-calendar {
  position: absolute;
  bottom: -175px;
  right: 401px;
}

.form__date .form__date-box_back.main__from .react-calendar {
  right: 40px;
  bottom: -175px;
}

@media (min-width: 1280px) and (max-width: 1480px) {
  .main__form__info .form__order {
    padding: 0;
  }

  .main__form__info .form__order .order__box .jumbotron__order__wrapper {
    padding-top: 30px;
  }

  .main__form__info .form__order .order__box {
    width: 1200px;
  }

  .main__form__info .form__order .button-find {
    margin-right: 4px;
  }

  .operation__name {
    font-size: 28px;
  }

  .list__number {
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-left: 89px;
    margin-right: 9px;
    align-items: center;
    border: 3px solid;
    border-radius: 32px;
  }
}
