.vagon__places__list_lux {
    background: url(../../../../../../img/luxSeatType.jpg) no-repeat;
    background-position: center;
}

.vagon__places__list_reserved-seat {
    background: url(../../../../../../img/reservedSeatType.jpg) no-repeat;
    background-position: center;
}

.vagon__places__list_sedentary {
    background: url(../../../../../../img/sedentarySeatType.jpg) no-repeat;
    background-position: center;
}