.vagon__info__detailed_box {
  display: flex;
}

.vagon__number {
  font-size: 72px;
  font-weight: 700;
  color: var(--bg-and-color-dark);
}

.vagon__title {
  font-size: 24px;
  color: var(--bg-and-color-dark);
}

.vagon__info__detailed {
  padding: 31px 69px 22px 42px;
  background: var(--bg-color-orange);
}

.vagon__seats__title,
.vagon__seats__price__title,
.vagon__seats__service__block__text,
.vagon__seats__service__block__title {
  font-size: 18px;
  color: var(--color-gray);
}

.vagon__seats_upper,
.vagon__seats_lower,
.vagon__seats__price_number,
.vagon__seats__title span {
  font-size: 24px;
  color: var(--color-black);
}

.vagon__seats_upper span,
.vagon__seats_lower span,
.vagon__seats__price_number {
  font-weight: 700;
}

.vagon__seats__amount__block {
  width: 270px;
  height: 162px;
  padding-left: 60px;
  padding-top: 34px;
}

.vagon__seats_upper {
  padding-top: 21px;
}

.vagon__seats__price__list {
  width: 212px;
  height: 162px;
  padding-top: 34px;
  padding-left: 57px;
}

.vagon__seats__price_sign {
  font-weight: 400;
}
.vagon__seats__price_number {
  padding-top: 21px;
}

.vagon__seats__price_sign {
  margin-left: 13px;
}

.additional__services {
  width: 284px;
  padding-left: 45px;
  padding-top: 37px;
}

.vagon__seats__service__block__text {
  margin-left: 31px;
}

.info__interest__people {
  width: 196px;
  margin-right: 43px;
  margin-left: auto;
  margin-right: 44px;
  padding: 17px 10px;
  background: var(--bg-fons);
}

.info__interest__people__title {
  text-align: end;
}

.vagon__places__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 137px;
  margin-bottom: 84px;
  padding: 72px 91px 47px 164px;
  background-position: center;
}

.vagon__places__list_coupe .first_row .place__number,
.vagon__places__list_coupe .second__row .place__number {
  height: 30px;
}

.place__number {
  width: 27px;
  height: 30px;
  text-align: center;
  border: 1px solid;
}

.place_item {
  display: flex;
  justify-content: space-between;
  width: 87px;
  margin-right: 2px;
  margin-left: 1px;
}

.first_row,
.second__row {
  display: flex;
}

.first_row:first-child {
  margin-left: 0 !important;
}

.place_item_busy {
  background: var(--color-gray-border);
  color: var(--bg-and-color-white);
  border: 1px solid var(--color-gray-border);
}

.place_item_free {
  background: var(--bg-color-ligth-grey-successful-order);
  color: var(--color-black);
  border: 1px solid var(--color-light-gray);
  cursor: pointer;
}

.place_item_free-active {
  border: 1px solid var(--bg-color-orange);
}

.place_item_free:hover {
  border: 1px solid var(--bg-color-orange);
}

.vagon__places__list_lux .first_row .place__number {
  height: 59px;
}

.vagon__places__list_lux {
  background: url(../../../../../img/luxSeatType1.jpg) no-repeat;
  background-position: center;
}

.vagon__places__list_reserved-seat {
  background: url(../../../../../img/reservedSeatType1.jpg) no-repeat;
  background-position: center;
}

.vagon__places__list_sedentary {
  background: url(../../../../../img/sedentarySeatType1.jpg) no-repeat;
  background-position: center;
}

.vagon__places__list_coupe {
  background: url(../../../../../img/luxSeatType1.jpg) no-repeat;
  background-position: center;
}

.vagon__places__list_lux .vagon__places__list .place__number {
  bottom: 53px;
  height: 59px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_2,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_1,
.vagon__places__list_coupe .vagon__places__list .place__number_2,
.vagon__places__list_coupe .vagon__places__list .place__number_1,
.vagon__places__list_lux .vagon__places__list .place__number_1 {
  right: 780px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_4,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_3,
.vagon__places__list_coupe .vagon__places__list .place__number_4,
.vagon__places__list_coupe .vagon__places__list .place__number_3,
.vagon__places__list_lux .vagon__places__list .place__number_2 {
  right: 719px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_6,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_5,
.vagon__places__list_coupe .vagon__places__list .place__number_6,
.vagon__places__list_coupe .vagon__places__list .place__number_5,
.vagon__places__list_lux .vagon__places__list .place__number_3 {
  right: 689px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_8,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_7,
.vagon__places__list_coupe .vagon__places__list .place__number_8,
.vagon__places__list_coupe .vagon__places__list .place__number_7,
.vagon__places__list_lux .vagon__places__list .place__number_4 {
  right: 631px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_10,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_9,
.vagon__places__list_coupe .vagon__places__list .place__number_10,
.vagon__places__list_coupe .vagon__places__list .place__number_9,
.vagon__places__list_lux .vagon__places__list .place__number_5 {
  right: 601px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_12,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_11,
.vagon__places__list_coupe .vagon__places__list .place__number_12,
.vagon__places__list_coupe .vagon__places__list .place__number_11,
.vagon__places__list_lux .vagon__places__list .place__number_6 {
  right: 540px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_14,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_13,
.vagon__places__list_coupe .vagon__places__list .place__number_14,
.vagon__places__list_coupe .vagon__places__list .place__number_13,
.vagon__places__list_lux .vagon__places__list .place__number_7 {
  right: 511px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_16,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_15,
.vagon__places__list_coupe .vagon__places__list .place__number_16,
.vagon__places__list_coupe .vagon__places__list .place__number_15,
.vagon__places__list_lux .vagon__places__list .place__number_8 {
  right: 451px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_18,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_17,
.vagon__places__list_coupe .vagon__places__list .place__number_18,
.vagon__places__list_coupe .vagon__places__list .place__number_17,
.vagon__places__list_lux .vagon__places__list .place__number_9 {
  right: 421px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_20,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_19,
.vagon__places__list_coupe .vagon__places__list .place__number_20,
.vagon__places__list_coupe .vagon__places__list .place__number_19,
.vagon__places__list_lux .vagon__places__list .place__number_10 {
  right: 361px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_22,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_21,
.vagon__places__list_coupe .vagon__places__list .place__number_22,
.vagon__places__list_coupe .vagon__places__list .place__number_21,
.vagon__places__list_lux .vagon__places__list .place__number_11 {
  right: 332px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_24,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_23,
.vagon__places__list_coupe .vagon__places__list .place__number_24,
.vagon__places__list_coupe .vagon__places__list .place__number_23,
.vagon__places__list_lux .vagon__places__list .place__number_12 {
  right: 273px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_26,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_25,
.vagon__places__list_coupe .vagon__places__list .place__number_26,
.vagon__places__list_coupe .vagon__places__list .place__number_25,
.vagon__places__list_lux .vagon__places__list .place__number_13 {
  right: 243px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_28,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_27,
.vagon__places__list_coupe .vagon__places__list .place__number_28,
.vagon__places__list_coupe .vagon__places__list .place__number_27,
.vagon__places__list_lux .vagon__places__list .place__number_14 {
  right: 183px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_30,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_29,
.vagon__places__list_coupe .vagon__places__list .place__number_30,
.vagon__places__list_coupe .vagon__places__list .place__number_29,
.vagon__places__list_lux .vagon__places__list .place__number_15 {
  right: 153px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_32,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_31,
.vagon__places__list_coupe .vagon__places__list .place__number_32,
.vagon__places__list_coupe .vagon__places__list .place__number_31,
.vagon__places__list_lux .vagon__places__list .place__number_16 {
  right: 94px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_32,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_30,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_28,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_26,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_24,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_22,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_20,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_18,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_16,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_14,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_12,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_10,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_8,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_6,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_4,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_2,
.vagon__places__list_coupe .vagon__places__list .place__number_32,
.vagon__places__list_coupe .vagon__places__list .place__number_30,
.vagon__places__list_coupe .vagon__places__list .place__number_28,
.vagon__places__list_coupe .vagon__places__list .place__number_26,
.vagon__places__list_coupe .vagon__places__list .place__number_24,
.vagon__places__list_coupe .vagon__places__list .place__number_22,
.vagon__places__list_coupe .vagon__places__list .place__number_20,
.vagon__places__list_coupe .vagon__places__list .place__number_18,
.vagon__places__list_coupe .vagon__places__list .place__number_16,
.vagon__places__list_coupe .vagon__places__list .place__number_14,
.vagon__places__list_coupe .vagon__places__list .place__number_12,
.vagon__places__list_coupe .vagon__places__list .place__number_10,
.vagon__places__list_coupe .vagon__places__list .place__number_8,
.vagon__places__list_coupe .vagon__places__list .place__number_6,
.vagon__places__list_coupe .vagon__places__list .place__number_4,
.vagon__places__list_coupe .vagon__places__list .place__number_2 {
  bottom: 82px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_31,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_29,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_27,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_25,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_23,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_21,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_19,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_17,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_15,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_13,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_11,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_9,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_7,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_5,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_3,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_1,
.vagon__places__list_coupe .vagon__places__list .place__number_31,
.vagon__places__list_coupe .vagon__places__list .place__number_29,
.vagon__places__list_coupe .vagon__places__list .place__number_27,
.vagon__places__list_coupe .vagon__places__list .place__number_25,
.vagon__places__list_coupe .vagon__places__list .place__number_23,
.vagon__places__list_coupe .vagon__places__list .place__number_21,
.vagon__places__list_coupe .vagon__places__list .place__number_19,
.vagon__places__list_coupe .vagon__places__list .place__number_17,
.vagon__places__list_coupe .vagon__places__list .place__number_15,
.vagon__places__list_coupe .vagon__places__list .place__number_13,
.vagon__places__list_coupe .vagon__places__list .place__number_11,
.vagon__places__list_coupe .vagon__places__list .place__number_9,
.vagon__places__list_coupe .vagon__places__list .place__number_7,
.vagon__places__list_coupe .vagon__places__list .place__number_5,
.vagon__places__list_coupe .vagon__places__list .place__number_3,
.vagon__places__list_coupe .vagon__places__list .place__number_1 {
  bottom: 52px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_33 {
  right: 764px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_34 {
  right: 719px;
  width: 45px !important;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_35 {
  right: 673px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_36 {
  right: 630px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_37 {
  right: 584px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_38 {
  right: 541px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_39 {
  right: 494px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_40 {
  right: 451px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_41 {
  right: 405px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_42 {
  right: 362px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_43 {
  right: 316px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_44 {
  right: 273px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_45 {
  right: 226px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_46 {
  right: 183px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_47 {
  right: 137px;
}
.vagon__places__list_reserved-seat .vagon__places__list .place__number_48 {
  right: 94px;
}

.vagon__places__list_reserved-seat .vagon__places__list .place__number_48,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_47,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_46,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_45,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_44,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_43,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_42,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_41,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_40,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_39,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_38,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_37,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_36,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_35,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_34,
.vagon__places__list_reserved-seat .vagon__places__list .place__number_33 {
  width: 43px;
  height: 24px;
  bottom: 4px;
}

.vagon__places__list_sedentary .vagon__places__list .place__number {
  margin-right: 20px;
  margin-bottom: 3px;
  width: 24px;
  height: 18px;
}

.place__number {
  position: absolute;
}

.vagon__places__list {
  position: relative;
}

.place__number_31,
.place__number_29,
.place__number_27,
.place__number_25,
.place__number_23,
.place__number_21,
.place__number_19,
.place__number_17,
.place__number_15,
.place__number_13,
.place__number_11,
.place__number_9,
.place__number_7,
.place__number_5,
.place__number_3,
.place__number_1 {
  bottom: 22px;
}

.place__number_60,
.place__number_58,
.place__number_56,
.place__number_54,
.place__number_52,
.place__number_50,
.place__number_48,
.place__number_46,
.place__number_44,
.place__number_42,
.place__number_40,
.place__number_38,
.place__number_36,
.place__number_34 {
  bottom: -11px;
}

.place__number_33,
.place__number_58,
.place__number_1,
.place__number_2 {
  right: 748px;
}

.place__number_35,
.place__number_34,
.place__number_3,
.place__number_4 {
  right: 704px;
}

.place__number_37,
.place__number_36,
.place__number_5,
.place__number_6 {
  right: 660px;
}

.place__number_39,
.place__number_38,
.place__number_7,
.place__number_8 {
  right: 616px;
}

.place__number_41,
.place__number_40,
.place__number_9,
.place__number_10 {
  right: 572px;
}

.place__number_43,
.place__number_42,
.place__number_11,
.place__number_12 {
  right: 528px;
}

.place__number_45,
.place__number_44,
.place__number_13,
.place__number_14 {
  right: 484px;
}

.place__number_47,
.place__number_46,
.place__number_15,
.place__number_16 {
  right: 440px;
}

.place__number_49,
.place__number_48,
.place__number_17,
.place__number_18 {
  right: 392px;
}

.place__number_51,
.place__number_50,
.place__number_19,
.place__number_20 {
  right: 352px;
}

.place__number_53,
.place__number_52,
.place__number_21,
.place__number_22 {
  right: 308px;
}

.place__number_55,
.place__number_54,
.place__number_23,
.place__number_24 {
  right: 264px;
}

.place__number_57,
.place__number_56,
.place__number_25,
.place__number_26 {
  right: 220px;
}

.place__number_59,
.place__number_58,
.place__number_27,
.place__number_28 {
  right: 176px;
}

.place__number_61,
.place__number_60,
.place__number_29,
.place__number_30 {
  right: 132px;
}

.place__number_62,
.place__number_31,
.place__number_32 {
  right: 88px;
}

.place__number_62,
.place__number_61,
.place__number_59,
.place__number_57,
.place__number_55,
.place__number_53,
.place__number_51,
.place__number_49,
.place__number_47,
.place__number_45,
.place__number_43,
.place__number_41,
.place__number_39,
.place__number_37,
.place__number_35,
.place__number_33 {
  bottom: -35px;
}

.vagon__number__active {
  color: var(--bg-and-color-white);
  font-size: 30px;
}

.vagon__info__number {
  font-size: 30px;
}

.detailed__box {
  display: none;
}

.detailed__box__active {
  display: block;
  width: 100%;
}

.type__vagon .type__vagon__items .detailed__box__active {
  background: white;
}

.vagon__places__list_sedentary {
  display: flex;
}

.total__amount__tickets {
  margin-right: 54px;
  margin-bottom: 17px;
  margin-bottom: 17px;
  text-align: end;
  color: var(--bg-color-orange);
  font-size: 24px;
  font-weight: 700;
}

.currency__sign {
  color: var(--color-gray);
}

@media (min-width: 1280px) and (max-width: 1480px) {
  .vagon__seats_upper,
  .vagon__seats_lower,
  .vagon__seats__price_number,
  .vagon__seats__title span {
    font-size: 18px;
  }

  .vagon__seats__title,
  .vagon__seats__price__title,
  .vagon__seats__service__block__text,
  .vagon__seats__service__block__title {
    font-size: 14px;
  }

  .vagon__info__detailed {
    padding: 10px 22px 40px 32px;
  }

  .vagon__seats__amount__block {
    width: 147px;
    padding-left: 35px;
    padding-top: 34px;
  }

  .vagon__seats__price__list {
    width: 167px;
  }

  .info__interest__people {
    margin-right: 0px;
  }

  .vagon__places__list_sedentary,
  .vagon__places__list_reserved-seat,
  .vagon__places__list_lux,
  .vagon__places__list_coupe {
    background-size: 98%;
    font-size: 14px;
  }
  .vagon__places__list_sedentary .vagon__places__list .place__number {
    margin-top: 4px;
    margin-right: -127px;
    margin-bottom: -2px;
  }

  /* .place__number_35,
  .place__number_34,
  .place__number_3,
  .place__number_4 {
    right: 720px;
  } */

  .place__number_60,
  .place__number_58,
  .place__number_56,
  .place__number_54,
  .place__number_52,
  .place__number_50,
  .place__number_48,
  .place__number_46,
  .place__number_44,
  .place__number_42,
  .place__number_40,
  .place__number_38,
  .place__number_36,
  .place__number_34 {
    bottom: 2px;
  }

  .place__number_62,
  .place__number_61,
  .place__number_59,
  .place__number_57,
  .place__number_55,
  .place__number_53,
  .place__number_51,
  .place__number_49,
  .place__number_47,
  .place__number_45,
  .place__number_43,
  .place__number_41,
  .place__number_39,
  .place__number_37,
  .place__number_35,
  .place__number_33 {
    bottom: -18px;
  }

  .place__number_31,
  .place__number_29,
  .place__number_27,
  .place__number_25,
  .place__number_23,
  .place__number_21,
  .place__number_19,
  .place__number_17,
  .place__number_15,
  .place__number_13,
  .place__number_11,
  .place__number_9,
  .place__number_7,
  .place__number_5,
  .place__number_3,
  .place__number_1 {
    bottom: 25px;
  }

  .place__number_35,
  .place__number_34,
  .place__number_3,
  .place__number_4 {
    right: 714px;
  }

  .place__number_37,
  .place__number_36,
  .place__number_5,
  .place__number_6 {
    right: 680px;
  }

  .place__number_39,
  .place__number_38,
  .place__number_7,
  .place__number_8 {
    right: 647px;
  }

  .place__number_41,
  .place__number_40,
  .place__number_9,
  .place__number_10 {
    right: 612px;
  }

  .place__number_43,
  .place__number_42,
  .place__number_11,
  .place__number_12 {
    right: 578px;
  }

  .place__number_45,
  .place__number_44,
  .place__number_13,
  .place__number_14 {
    right: 544px;
  }

  .place__number_47,
  .place__number_46,
  .place__number_15,
  .place__number_16 {
    right: 508px;
  }

  .place__number_49,
  .place__number_48,
  .place__number_17,
  .place__number_18 {
    right: 470px;
  }

  .place__number_51,
  .place__number_50,
  .place__number_19,
  .place__number_20 {
    right: 432px;
  }

  .place__number_53,
  .place__number_52,
  .place__number_21,
  .place__number_22 {
    right: 394px;
  }

  .place__number_55,
  .place__number_54,
  .place__number_23,
  .place__number_24 {
    right: 354px;
  }

  .place__number_57,
  .place__number_56,
  .place__number_25,
  .place__number_26 {
    right: 315px;
  }

  .place__number_59,
  .place__number_58,
  .place__number_27,
  .place__number_28 {
    right: 278px;
  }

  .place__number_61,
  .place__number_60,
  .place__number_29,
  .place__number_30 {
    right: 241px;
  }

  .place__number_62,
  .place__number_31,
  .place__number_32 {
    right: 204px;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_2,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_1,
  .vagon__places__list_coupe .vagon__places__list .place__number_2,
  .vagon__places__list_coupe .vagon__places__list .place__number_1,
  .vagon__places__list_lux .vagon__places__list .place__number_1 {
    right: 622px;
  }
  .vagon__places__list_lux .vagon__places__list .place__number {
    bottom: 57px;
    height: 47px;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_32,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_31,
  .vagon__places__list_coupe .vagon__places__list .place__number_32,
  .vagon__places__list_coupe .vagon__places__list .place__number_31,
  .vagon__places__list_lux .vagon__places__list .place__number_16 {
    right: 68px;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_32,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_30,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_28,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_26,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_24,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_22,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_20,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_18,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_16,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_14,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_12,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_10,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_8,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_6,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_4,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_2,
  .vagon__places__list_coupe .vagon__places__list .place__number_32,
  .vagon__places__list_coupe .vagon__places__list .place__number_30,
  .vagon__places__list_coupe .vagon__places__list .place__number_28,
  .vagon__places__list_coupe .vagon__places__list .place__number_26,
  .vagon__places__list_coupe .vagon__places__list .place__number_24,
  .vagon__places__list_coupe .vagon__places__list .place__number_22,
  .vagon__places__list_coupe .vagon__places__list .place__number_20,
  .vagon__places__list_coupe .vagon__places__list .place__number_18,
  .vagon__places__list_coupe .vagon__places__list .place__number_16,
  .vagon__places__list_coupe .vagon__places__list .place__number_14,
  .vagon__places__list_coupe .vagon__places__list .place__number_12,
  .vagon__places__list_coupe .vagon__places__list .place__number_10,
  .vagon__places__list_coupe .vagon__places__list .place__number_8,
  .vagon__places__list_coupe .vagon__places__list .place__number_6,
  .vagon__places__list_coupe .vagon__places__list .place__number_4,
  .vagon__places__list_coupe .vagon__places__list .place__number_2 {
    bottom: 78px;
  }
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_30,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_29,
  .vagon__places__list_coupe .vagon__places__list .place__number_30,
  .vagon__places__list_coupe .vagon__places__list .place__number_29,
  .vagon__places__list_lux .vagon__places__list .place__number_15 {
    right: 111px;
  }

  .place__number {
    width: 27px;
    height: 26px;
  }
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_28,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_27,
  .vagon__places__list_coupe .vagon__places__list .place__number_28,
  .vagon__places__list_coupe .vagon__places__list .place__number_27,
  .vagon__places__list_lux .vagon__places__list .place__number_14 {
    right: 141px;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_20,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_19,
  .vagon__places__list_coupe .vagon__places__list .place__number_20,
  .vagon__places__list_coupe .vagon__places__list .place__number_19,
  .vagon__places__list_lux .vagon__places__list .place__number_10 {
    right: 286px;
  }
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_24,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_23,
  .vagon__places__list_coupe .vagon__places__list .place__number_24,
  .vagon__places__list_coupe .vagon__places__list .place__number_23,
  .vagon__places__list_lux .vagon__places__list .place__number_12 {
    right: 214px;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_26,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_25,
  .vagon__places__list_coupe .vagon__places__list .place__number_26,
  .vagon__places__list_coupe .vagon__places__list .place__number_25,
  .vagon__places__list_lux .vagon__places__list .place__number_13 {
    right: 185px;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_22,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_21,
  .vagon__places__list_coupe .vagon__places__list .place__number_22,
  .vagon__places__list_coupe .vagon__places__list .place__number_21,
  .vagon__places__list_lux .vagon__places__list .place__number_11 {
    right: 257px;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_18,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_17,
  .vagon__places__list_coupe .vagon__places__list .place__number_18,
  .vagon__places__list_coupe .vagon__places__list .place__number_17,
  .vagon__places__list_lux .vagon__places__list .place__number_9 {
    right: 330px;
  }
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_16,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_15,
  .vagon__places__list_coupe .vagon__places__list .place__number_16,
  .vagon__places__list_coupe .vagon__places__list .place__number_15,
  .vagon__places__list_lux .vagon__places__list .place__number_8 {
    right: 360px;
  }
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_14,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_13,
  .vagon__places__list_coupe .vagon__places__list .place__number_14,
  .vagon__places__list_coupe .vagon__places__list .place__number_13,
  .vagon__places__list_lux .vagon__places__list .place__number_7 {
    right: 403px;
  }
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_12,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_11,
  .vagon__places__list_coupe .vagon__places__list .place__number_12,
  .vagon__places__list_coupe .vagon__places__list .place__number_11,
  .vagon__places__list_lux .vagon__places__list .place__number_6 {
    right: 433px;
  }
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_10,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_9,
  .vagon__places__list_coupe .vagon__places__list .place__number_10,
  .vagon__places__list_coupe .vagon__places__list .place__number_9,
  .vagon__places__list_lux .vagon__places__list .place__number_5 {
    right: 476px;
  }
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_8,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_7,
  .vagon__places__list_coupe .vagon__places__list .place__number_8,
  .vagon__places__list_coupe .vagon__places__list .place__number_7,
  .vagon__places__list_lux .vagon__places__list .place__number_4 {
    right: 505px;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_4,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_3,
  .vagon__places__list_coupe .vagon__places__list .place__number_4,
  .vagon__places__list_coupe .vagon__places__list .place__number_3,
  .vagon__places__list_lux .vagon__places__list .place__number_2 {
    right: 579px;
  }
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_6,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_5,
  .vagon__places__list_coupe .vagon__places__list .place__number_6,
  .vagon__places__list_coupe .vagon__places__list .place__number_5,
  .vagon__places__list_lux .vagon__places__list .place__number_3 {
    right: 550px;
  }

  .vagon__places__list .place__number_37,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_36,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_35,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_34,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_33 {
    width: 34px;
    height: 24px;
    bottom: 16px;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_33 {
    right: 614px;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_34 {
    right: 579px;
    width: 38px !important;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_35 {
    right: 540px;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_36 {
    right: 506px;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_37 {
    right: 467px;
  }

  .vagon__places__list_reserved-seat .vagon__places__list .place__number_48,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_47,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_46,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_45,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_44,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_43,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_42,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_41,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_40,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_39,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_38,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_37,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_36,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_35,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_34,
  .vagon__places__list_reserved-seat .vagon__places__list .place__number_33 {
    width: 36px;
    height: 24px;
    bottom: 17px;
  }
}
