.loader__block {
  display: flex;
  flex-direction: column;
  background: #3e3c41;
}

.loader__text {
  margin-top: 261px;
  color: #928f94;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.loader {
  width: 50%;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 185px;
}

.main {
  min-height: 1024px;
}
.loader__block__info-img {
  display: flex;
}

@media (min-width: 1280px) and (max-width: 1480px) {
  .loader__block__info {
    width: 1200px;
  }
}
