.loader__block {
    width: 1920px;
    display: flex;
    flex-direction: column;
    background: #3E3C41;
  }
  
  .loader__text {
    margin-top: 261px;
    color: #928F94;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  
  .loader {
    width: 50%;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 185px;
  }

    .main {
    min-height: 1024px;
}