.sidebar {
    width: 360px;
  }
  
  .sidebar__form {
    padding-top: 44px;
    background-color: var(--color-darck-gray);
  }
  .datego, .dateback {
    margin-left: 29px;
  }
  
  .datego .form__date-box, .dateback .form__date-box  {
    width: 295px;
    height: 43px;
    margin-bottom: 24px;
  }
  
  .datego__title {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 400;
    color: var(--bg-and-color-white);
  }
  
  .datego .form__date-box .date__here, .dateback .form__date-box .date__back {
    width: 241px;
    margin-top: -11px;
  }
  
  .datego .form__date-box .calendar,  .dateback .form__date-box .calendar{
    width: 20px;
    height: 22px;
    margin: auto;
  }
  
  .list__options {
    margin-top: 33px;
    padding-left: 67px;
    padding-top: 20px;
    padding-top: 20px;
    padding-right: 31px;
    color: var(--bg-and-color-white);
    font-size: 18px;
    border-top: 1px solid var(--color-light-gray);
    border-bottom: 1px solid var(--color-light-gray);
  }
  
  .button__check {
    position: relative;
    width: 75px;
    height: 18px;
    background-color: var(--bg-and-color-white);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .button__check::before {
    position: absolute;
    width: 28px;
    height: 28px; 
    margin: -4px 0;
    content: "";
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-gray);
    transition: 0.2s;
  }
  
  input:checked + .button__check {
    background-color: var(--bg-color-light-orange);
  }
  
  input:checked + .button__check::before {
    transform: translateX(50px);
    background-color: var(--bg-color-orange);
  }
  
  .item__options__check {
    display: none;
  }
  
  .item__options__title {
    margin-left: -57px;
  }
  
  .item__options {
    display: flex;
    justify-content: space-between; 
    margin-top: 11px;
    margin-bottom: 33px;
    padding-right: 6px;
  }
  
  .price {
    padding: 32px; 
    padding-bottom: 40px;
    color: var(--bg-and-color-white);
    border-bottom: 1px solid var(--color-light-gray);
   
  }
  
  .there__info__img, .back__info__img {
    margin-right: 16px;
  }
  
  .there__info__title, .there__info__title {
    font-size: 30px;
  }
  
  .there__info_icon {
    margin-top: 16px;
  }
  
  .there__info svg path, .back__info svg path {
    fill: var(--bg-and-color-white);
  }
  
  .there__info svg:hover path, .back__info svg:hover path {
    fill: var(--bg-color-light-orange);
  }
  
  .price__title {
    font-size: 30px;
    font-weight: 400;
  }
  
  .price__limit {
    display: flex;
    justify-content: space-between;    
    margin: 11px 5px 3px;
    font-size: 20px;
  }
  
  .list__price {
    display: flex;
    justify-content: space-between;
  }
  /*  range*/
  .price__range {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 294px;
    height: 18px;
    outline: none;
    border-radius: 10px;
    background-color: var(--bg-and-color-white);
    background-color: var(--bg-and-color-white);
    background: var(--color-darck-gray);
    border: 1px solid var(--bg-and-color-white);
  }
  
  .price__range::-webkit-slider-thumb { 
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bg-and-color-white);
  }
  
  .range .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--bg-and-color-white);
  }
  
  .range .field .value {
    position: absolute;
    font-size: 18px;
    font-family: 600;
  }
  
  .range .field .value.left {
    top: 16px;
    left: 13px;
  }
  
  .range .field .value.right {
    top: 16px;
    right: 0px;
  }
  
  .range .sliderValue {
    position: relative;
    width: 100%;
  }
  
  .range .sliderValue span {
    position: absolute;
    height: 45px;
    width: 45px;
    background: #2D2B2F;
    transform:  translateX(-10%);
    z-index: 2;
  }
  
  .range .field input::-moz-range-progress {
    background: var(--bg-color-orange);
    height: 18px;
    border-radius: 10px;
  }
  
  .range .field input::-webkit-progress-value {
  -webkit-appearance: none;
  background: var(--bg-color-orange);
  height: 18px;
  border-radius: 10px;
  }
  .range .field input::-ms-fill-lower {
    background: var(--bg-color-orange);
    height: 18px;
    border-radius: 10px;
  }
  
  .range .sliderValue span::after {
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    transform:  translateX(-50%);
    z-index: -1;
  }
  
  /* end range */
  .there__info, .back__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 29px 33px 30px;
    color: white;
  }
  
  .there__info__box, .back__info__box {
    display: flex;
  }
  
  .there__info_icon {
    width: 20px;
    height: 20px;
  }

  .sidebar__info {
    margin-top: 94px;
    color: var(--color-black);
  }
  
  .sidebar__title {
    margin-bottom: 30px;  
    padding-top: 3px;   
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
  }
 
  .item__services {
    margin: auto 0;
  }

  /* calendar */
  .sidebar__form .datego .form__date-box {
    position: relative;
    /* z-index: 1; */
  }

  .sidebar__form .datego .form__date-box .date__here, .sidebar__form .datego .form__date-box .date__back {
    width: 282px;
    background-size: 25px 25px;
  }

  .sidebar__form .datego .form__date-box .date__back {
    margin-top: -8px;
  }

  .sidebar__form .datego .form__date-box .react-calendar {
    position: absolute !important;
    right: 0;
    left: 0px;
    top: 69px;
    bottom: 0;
    z-index: 1;
  }

  .react-calendar__viewContainer {
    background: var(--bg-and-color-white);
  }

  .react-calendar__navigation {
    background: var(--bg-and-color-white);
  }

.sidebar__form .datego .form__date-box .react-calendar__viewContainer {
    position: absolute;
    margin-top: -18px;
    z-index: 2;
}

.sidebar__datego {
    position: relative;
    z-index: 2;
}



