.train__list {
  width: 981px;
  padding-right: 22px;
}
  
.was-found {
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;  
  color: var(--color-gray) ;
}
  
.control__list {
  display: flex;
  width: 514px;
  justify-content: space-between;
  font-size: 18px;
}

.sorting__listing_select__wrapper {
  display: flex;
}

.sorting__title {
  margin-left: 7px;
}

.cart__info .train__name {
  margin-left: 0;
}

 .price__type__currency {
  margin-top: -8px;
  font-size: 24px;
}