.jumbotron {
  position: relative;
  height: 825px;
}

.jumbotron__box {
  position: relative;
  height: 985px;
  top: -160px;
}

.jumbotron__banner {
  width: 100%;
  height: 100%;
  padding-top: 160px;
  background: url('../../../img/bunner.jpg') no-repeat center;
  background-size: cover;
  z-index: -1;
}

.jumbotron__info {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-top: 251px;
}

.jumbotron__title {
  color: var(--bg-and-color-white);
  font-size: 72px;
  font-weight: 100;
}

.jumbotron__title__box {
  margin-left: -36px;
  margin-right: 60px;
  padding-top: 156px;
  color: var(--bg-and-color-white);
  line-height: 1.5;
}

.jumbotron__form__order {
  width: 723px;
  height: 574px;
  margin-right: 24px;
  padding: 82px 10px 62px 15px;
}

.strong {
  margin-top: -30px;
  font-weight: 700;
}

.order__box {
  margin-bottom: 92px;
  /* justify-content: center; */
}

.form__order {
  position: relative;
  background: rgba(41, 41, 41, 0.8);
  color: var(--bg-and-color-white);
}

.form__title {
  margin-bottom: 22px;
  padding-left: 8px;
  font-size: 30px;
}

.from__direction {
  display: flex;
  margin-top: -5px;
  margin-left: -0px;
  justify-content: space-evenly;
}

.from__direction_box {
  height: 56px;
  width: 325px;
  background-color: var(--bg-and-color-white);
  border-radius: 4px;
}

.form-control:focus {
  box-shadow: none;
}
.form__date {
  display: flex;
  justify-content: space-between;
  margin-top: -9px;
  margin-right: 10px;
}

.form__date-box {
  display: flex;
  height: 61px;
  width: 322px;
  padding: 14px 14px 14px 10px;
  font-size: 18px;
  background-color: var(--bg-and-color-white);
  border-radius: 4px;
}

.form__date-box_to .react-calendar {
  position: absolute;
  bottom: 14px;
  right: 362px;
}

.form__date-box_back .react-calendar {
  position: absolute;
  bottom: 14px;
  right: 10px;
}

input .form-control {
  position: relative;
  outline: none;
}

.direction__input {
  background: white url('../.././../img/vector.svg') right no-repeat;
}

.direction {
  margin-bottom: 61px;
}

.direction__input {
  width: 290px !important;
  height: 61px;
  padding: 14px;
  font-size: 18px;
  color: var(--bg-and-color-dark);
  font-weight: 400;
  border: none;
}

input:focus {
  color: var(--bg-and-color-dark);
}

input {
  outline: none;
}

.from__direction .btn_reverse {
  width: 24px;
  height: 24px;
  margin: auto 6px;
  background-image: url(../../../img/vector-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.from__direction .btn_reverse:hover {
  width: 24px;
  height: 24px;
  background: url(../../../img/reload_arrows_active.svg);
  background-repeat: no-repeat;
}

.jumbotron__order__box .button-find {
  margin-top: 60px;
}

.button-find {
  width: 325px;
  height: 60px;
  margin-right: 9px;

  float: right;
  color: var(--bg-and-color-dark);
  font-weight: 700 !important;
  font-size: 24px;
  text-transform: uppercase;
  background-color: var(--bg-color-orange);
  border: 1px solid var(--bg-color-orange);
  border-radius: 6px;
}

.button-find:hover {
  box-shadow: 2px 5px 7px rgb(24, 20, 18);
}

.button-find:active {
  background-color: var(--bg-and-color-white);
  color: var(--bg-color-orange);
}

.date__here,
.date__back {
  width: 290px;
  height: 35px;
  border: none;
}

.list-grop-item-action {
  padding-left: 30px;
  text-align: left;
  border: none;
}

.list-grop-item-action:hover {
  background-color: var(--bg-color-light-orange);
}

.list-group {
  margin-top: 2px;
  border-radius: 0 0 6px 6px;
}

.date {
  margin-left: 5px;
}

.date__back,
.date__here {
  padding-right: 17px;
  background: white url('../../../img/calendar.svg') right no-repeat;
}

.react-calendar__tile--rangeBothEnds {
  background-color: var(--bg-color-orange) !important;
}

.button-find-disabled:disabled {
  color: var(--bg-and-color-white);
  background: var(--color-gray);
  border: 1px solid var(--color-gray);
}

.loading__bar {
  position: relative;
  top: 833px;
}

.progress {
  position: relative;
  margin-top: -159px;
  height: 9px;
  background-color: var(--bg-color-orange);
  border-radius: unset;
  z-index: 5;
}

.progress__bar {
  position: relative;
  top: 151px;
}

.form__date-main .form__date-box_to .react-calendar {
  bottom: -172px;
  right: 412px;
}

.form__date-main .form__date-box_back .react-calendar {
  bottom: -172px;
  right: 46px;
}

@media (min-width: 1280px) and (max-width: 1480px) {
  .jumbotron__title {
    font-size: 52px;
  }

  .form__title {
    font-size: 26px;
  }

  .direction__input {
    font-size: 16px;
  }

  .date__back,
  .date__here,
  .direction__input {
    background-size: 28px 28px;
  }

  .button-find {
    font-size: 22px;
  }

  .form__date-box,
  .from__direction_box {
    width: 268px;
  }
}
